/* Font Family */
@font-face {
  font-family: workSans;
  src        : url(../fonts/work-sans/WorkSans-Medium.ttf);
}

/*-- Body Preset --*/
* {
  box-sizing: border-box;
}

body {
  overflow-x : hidden;
  font-family: workSans, sans-serif;
}

/*============= Navigation =============*/

.navbar {
  min-height      : 100px;
  background-color: white;

}

.nav-item {
  padding: .4rem;
}

.nav-link {
  font-size: 14px;
  color    : #333333 !important;
}

.nav-link.active,
.nav-link:hover {
  color: #4e4e4e !important;
}

.img-logo {
  width      : 70px;
  margin-left: -2rem;
}

.hidden-logo {
  display: none;
}

.login {
  color: #333333 !important;
}

.login:hover {
  color          : #333333 !important;
  text-decoration: none;
}

/*============= Banner =============*/

.banner {
  position  : relative;
  margin-top: 6rem;
}

.text-block {
  position     : absolute;
  top          : 60px;
  left         : 30px;
  padding-left : 20px;
  padding-right: 20px;
}

.banner .judul {
  font-size: 56px;
  color    : #333333;
}

.banner .desc {
  font-size: 1rem;
  color    : #333333;
}

/*============= Daftar Keripik =============*/


.keripik-1 {
  background-color: #F9DCC4;
  color           : #343434;
}

.keripik-2 {
  background-color: #457B9D;
  color           : white;
}

.keripik-3 {
  background-color: #8ECAE6;
  color           : white;
}

.keripik-4 {
  background-color: #FED0BB;
  color           : #343434;
}

.judul-keripik-1 {
  padding-top   : 1rem;
  padding-left  : 2rem;
  font-size     : 3.2rem;
  text-transform: uppercase;
}

.deskripsi-keripik-1 {
  padding-top  : 1rem;
  padding-left : 2rem;
  padding-right: 4rem;
  font-size    : .8rem;
  line-height  : 1.2rem;
  text-align   : justify;
}

.judul-keripik-2 {
  padding-top   : 1rem;
  padding-right : 2rem;
  font-size     : 3.2rem;
  text-transform: uppercase;
}

.deskripsi-keripik-2 {
  padding-top  : 1rem;
  padding-right: 2rem;
  padding-left : 4rem;
  font-size    : .8rem;
  line-height  : 1.2rem;
  text-align   : justify;
}

/*============= FOOTER =============*/

footer {
  background-color: #fafafa;
  padding         : 1rem 2rem 3rem;
}

footer img {
  height: 3.5rem;
  margin: 1.5rem auto;
}

/* Maps */
.maps {
  width        : 500px;
  height       : 280px;
  border       : 0;
  border-radius: 5px;
}

footer p {
  font-size: 14px;
}

.address {
  margin-left   : -.4rem;
  font-size     : 14px;
  line-height   : 1rem;
  text-align    : left;
  letter-spacing: 0.14px;
  color         : #333333;
}

.akun-fitur a {
  color          : #333333;
  text-decoration: none;
}

.akun-fitur a:hover {
  color: #4e4e4e;
}

.daftar-pembayaran {
  margin-top : -1.4rem;
  margin-left: -.8rem;
}

.img-pembayaran-ovo {
  width       : 4rem;
  height      : auto;
  padding-left: .8rem;
}

.img-pembayaran-gopay {
  width       : 6rem;
  height      : auto;
  padding-left: .8rem;
}

.img-pembayaran-bca {
  width       : 4rem;
  height      : auto;
  padding-left: .8rem;
}

.daftar-kontak .phone {
  margin-top: -1rem;
}

.daftar-kontak .instagram {
  margin-top: -3rem;
}

.kontak-logo {
  width : 1.2rem;
  height: auto;
}

.daftar-pengiriman {
  margin-top : -1.4rem;
  margin-left: -.8rem;
}

.img-pengiriman-gosend {
  width       : 7rem;
  height      : auto;
  padding-left: .8rem;
}

.img-pengiriman-grabexpress {
  width       : 8.5rem;
  height      : auto;
  padding-left: .8rem;
}

/*============= SOCKET =============*/
.socket {
  background-color: #fafafa;
}

.socket p {
  font-size: .8rem;
  color    : #333333;
}

/*============= MEDIA QUERIES =============*/

/* Devices under 1199px (xl) */
@media (max-width: 1199.98px) {

  .navigation {
    flex-direction: column;
  }

  .account {
    margin-top: -1.4rem;
  }

  .banner .judul {
    font-size: 47px;
    color    : #343434;
  }

  .banner .desc {
    font-size: .9rem;
    color    : #343434;
  }

  .detail-lain {
    margin-top: 3rem;
  }

  .maps {
    width        : 440px;
    height       : 250px;
    border       : 0;
    border-radius: 15px;
  }

  .my-account h4 {
    font-size: 1rem;
  }

  .my-account a {
    font-size: .8rem;
  }

  .pembayaran h4 {
    font-size: .9rem;
  }

  .img-pembayaran-bca {
    margin-top: -.9rem;
    width     : 4.5rem;
  }

  .kontak {
    margin-top: -1.5rem;
  }

  .kontak h4 {
    font-size: 1rem;
  }

  .kontak p {
    font-size: .8rem;
  }

  .kontak-logo {
    width : 1rem;
    height: auto;
  }

  .pengiriman {
    margin-top: -1.5rem;
  }

  .pengiriman h4 {
    font-size: 1rem;
  }

  .img-pengiriman-gosend {
    margin-top: 1.8rem;
  }

  .img-pengiriman-grabexpress {
    margin-top: -.6rem;
  }

}

/* Devices under 992px (lg) */
@media (max-width: 991.98px) {

  /*============= Navbar =============*/

  .hidden-logo {
    display     : inline;
    width       : 70px;
    margin-right: 23rem;
  }

  .login {
    margin-left: 1.2rem;
  }

  .navigation {
    flex-direction: column;
  }

  .text-block {
    top          : 40px;
    left         : 10px;
    padding-left : 20px;
    padding-right: 20px;
  }

  .banner .judul {
    font-size: 32px;
    color    : #343434;
  }

  .banner .desc {
    font-size: .8rem;
    color    : #343434;
  }

  .maps {
    width        : 300px;
    height       : 250px;
    border       : 0;
    border-radius: 5px;
  }

  .img-logo {
    display: none;
  }

  /*============= Footer =============*/

  .address {
    padding-left: 1rem;
  }

  .testimoni {
    text-align    : center;
    padding-bottom: .8rem;
  }

  .maps {
    margin-top: 3.6rem;
  }

  /*============= Socket =============*/

  .socket p {
    margin-top: 1rem;
    text-align: center;

  }
}

@media (max-width: 767.98px) {

  /*============= Navbar =============*/

  .img-logo {
    display: none;
  }

  .hidden-logo {
    display     : inline;
    width       : 70px;
    margin-right: 18rem;
  }

  .nav-border {
    margin-top   : 13px;
    margin-left  : 1.3rem;
    margin-bottom: 1rem;
  }

  .nav-item .product {
    margin-top : -12px;
    margin-left: 1rem;
  }

  .login {
    margin-left: 1.2rem;
  }

  /*============= Banner =============*/

  .banner img {
    margin-top: 22rem;
  }

  .banner {
    background-color: #F6F7F2;
  }

  .banner .judul {
    font-size    : 2rem;
    color        : #343434;
    margin-left  : -1rem;
    padding-left : 1rem;
    padding-right: 1rem;
    padding-top  : 4rem;
  }

  .banner .desc {
    font-size: .8rem;
    color    : #343434;
  }

  .maps {
    width        : 300px;
    height       : 250px;
    border       : 0;
    border-radius: 5px;
  }

  /*============= Daftar Keripik =============*/

  .judul-keripik-1 {
    padding-left : 2rem;
    padding-right: 2rem;
    text-align   : center;
  }

  .deskripsi-keripik-1 {
    padding-top  : 1rem;
    padding-left : 2rem;
    padding-right: 2rem;
  }

  .judul-keripik-2 {
    padding-left : 2rem;
    padding-right: 2rem;
    text-align   : center;
  }

  .deskripsi-keripik-2 {
    padding-top  : 1rem;
    padding-left : 2rem;
    padding-right: 2rem;
  }

  /*============= Footer =============*/

  .address {
    padding-left: 1rem;
  }

  .maps {
    margin-top: 0;
  }

  .testimoni {
    text-align    : center;
    padding-bottom: .8rem;
  }

  /*============= Socket =============*/

  .socket p {
    margin-top: 1rem;
    text-align: center;
  }

}

/*============ BOOTSTRAP BREAK POINTS:

Extra small (xs) devices (portrait phones, less than 576px)
No media query since this is the default in Bootstrap

Small (sm) devices (landscape phones, 576px and up)
@media (min-width: 576px) { ... }

Medium (md) devices (tablets, 768px and up)
@media (min-width: 768px) { ... }

Large (lg) devices (desktops, 992px and up)
@media (min-width: 992px) { ... }

Extra (xl) large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { ... }

=============*/

/*-- Bootstrap Mobile Gutter Fix --*/
.row,
.container-fluid {
  margin-left : 0px !important;
  margin-right: 0px !important;
}